.mk_apps_sidebar_panel {
    height: calc(100% - #{$o-navbar-height-netlife});
	position: fixed; 
    overflow-y: auto;
    top: 75px;
    background-color: $mk-appbar-background;

    .mk_apps_sidebar {
	    padding: 0;
	    white-space: nowrap;
	    margin-bottom: 150px;
	    .mk_apps_sidebar_menu {
		    list-style: none;
		    margin-left: 5px;
			margin-right: 5px;
		    padding: 0;
		    > li {
		        margin: 0;
		        padding: 0;
		        border: 0px;
		        display: block;
		        > a {
		            margin: 0;
		            border: 0px;
		            display: block;
		            cursor: pointer;
		            font-size: 16px;
		            font-weight: 300;
		            overflow: hidden;
		            padding: 8px 0 8px 25px;
		            position: relative;
		            text-decoration: none;
		            color: $mk-appbar-color;
		            text-overflow: ellipsis;
		            .mk_apps_sidebar_icon {
					    width: 22px;
					    height: 22px;
					    margin-right: 5px;
					}
		        }
		    }
	        > li:hover > a {
			    background: $o-menu-hover;
				border-radius: 5px !important;
	        }
	    }
	}
}
.mk_apps_sidebar_panel .mk_apps_sidebar .mk_apps_sidebar_menu > li > a .mk_apps_sidebar_icon {
    width: 25px;
    height: 25px;
}

@include media-breakpoint-up(xl) {

    .mk_sidebar_type_large .has-menu-children{
        > a::after {
            font-family: "FontAwesome";

            float: right;
            padding-right: 15px;
        }
    }
    .o_field_widget.o_field_image.oe_avatar img{
        margin-top: 50px !important;
    }
    .mk_sidebar_type_large .has-menu-children[aria-expanded="true"]{
        > a::after {
            font-family: "FontAwesome";
            content: "\f078";
            float: right;
            padding-right: 15px;
        }
    }
	.mk_sidebar_type_large .has-menu-children[aria-expanded="true"] > a > span{
		font-weight: bolder;
		line-height: 30px;
	}
	.mk_sidebar_type_large .has-menu-children[aria-expanded="true"] > a:active{
	}
    .active-menu {
        font-weight: 450 !important;
		background: $o-menu-hover;
    }

    .mk_sidebar_type_large .has-no-menu-children{
        display: none !important;
    }

    .o_form_view .oe_button_box .oe_stat_button{
        width: 200px !important;
    }
//     .o_menu_sections {
//         display: none;
//     }

}

.mb7{
	margin-bottom: 0px !important;
    margin-top: 1px !important;
    width: 220px;
    background-color: #FFF;
	opacity: 0.2;
}
@include media-breakpoint-up(lg) {
	.mk_sidebar_type_large {
		.mk_apps_sidebar_panel {
			width: $mk-sidebar-large-width;
		}
		.o_main {
			padding-left: $mk-sidebar-large-width;
		}
	}
	.mk_sidebar_type_small {
		.mk_apps_sidebar_panel {
			width: $mk-sidebar-small-width;
			.mk_apps_sidebar_name {
				display: none;
			}
			.mk_apps_sidebar_icon {
				margin-right: 0 !important;
			}
		}
		.o_main {
			padding-left: $mk-sidebar-small-width;
		}
		.sidebar-footer{
		    display: none;
		}

	}
	.mk_sidebar_type_invisible {
		.mk_apps_sidebar_panel {
			display: none;
		}
	}
	.d-none.d-sm-inline{
	    display: none;
	}
	.mk_sidebar_type_large .has-no-menu-children{
        display: none !important;
    }

    .o_form_view .oe_button_box .oe_stat_button{
    width: 200px !important;
    }
//     .o_menu_sections {
//         display: none;
//     }
}

@include media-breakpoint-only(md) {
	.mk_sidebar_type_large, .mk_sidebar_type_small {
		.mk_apps_sidebar_panel {
			width: $mk-sidebar-small-width;
			.mk_apps_sidebar_name {
				display: none;
			}
			.mk_apps_sidebar_icon {
				margin-right: 0 !important;
			}
		}
		.o_main {
			padding-left: $mk-sidebar-small-width;
		}
	}

	.mk_sidebar_type_invisible {
		.mk_apps_sidebar_panel {
			display: none;
		}
	}
	.sidebar-footer{
	    display:none;
	}
	.ul_menu_secondary {
        display: none;
    }
    .d-none.d-sm-inline{
	    display: none;
	}
    .mk_sidebar_type_large .has-menu-children{
        display: none !important;
    }

    .mk_sidebar_type_large .has-no-menu-children{
        display: block !important;
    }


}

@include media-breakpoint-down(sm) {
	.mk_apps_sidebar_panel {
		display: none;
	}
	.o_main {
		padding-left: 0;
	}
	.ul_menu_secondary {
        display: none;
    }
    .d-none.d-sm-inline{
	    display: none;
	}
}

.o_fullscreen {
	.mk_apps_sidebar_panel {
		display: none;
	}
	.o_main {
		padding-left: 0;
	}
}

// .nav-item > a {
//     margin: 0;
//     border: 0px;
//     display: block;
//     cursor: pointer;
//     font-size: 13px;
//     font-weight: 300;
//     overflow: hidden;
//     padding: 8px 11px;
//     position: relative;
//     text-decoration: none;
//     color: #dee2e6;
//     text-overflow: ellipsis;
// }

 .ul_menu_secondary{
    padding: 0;
    margin-left: 0px;
    > li {
        list-style: none;
		margin-left: 0;
         > a {
            margin-left: -10px;
            border: 0px;
            display: block;
            cursor: pointer;
            font-size: 14px;
            font-weight: 300;
            overflow: hidden;
            padding: 8px 0 8px 70px;
            position: relative;
            text-decoration: none;
            color: $mk-appbar-color;
            text-overflow: ellipsis;
         }

    }
    > li:hover > a {
        background: $o-menu-hover;
		border-radius: 0px;
    }

}

.ul_menu_secondary_submenu{
    padding: 0;
    > li {
        list-style: none;
         > a {
            margin-left: 5px;
			 margin-right: 5px;
            border: 0px;
            display: block;
            cursor: pointer;
            font-size: 14px;
            font-weight: 300;
            overflow: hidden;
            padding: 8px 0 8px 65px;
            position: relative;
            text-decoration: none;
            color: $mk-appbar-color;
            text-overflow: ellipsis;
         }
    }
    > li:hover > a {
        background: $o-menu-hover;
		border-radius: 5px !important;
    }

}

.simplebar-content{
    overflow: visible !important;
    overflow-x: hidden !important;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #FFFFFF;
}

*::-webkit-scrollbar {
  width: 9px;
  background-color: #ffffee;
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #FFFFFF;
	opacity: 8%;
}

.sidebar-footer{
    position: fixed;
    background-color: $mk-appbar-background;
    height: 100px;
    width: $mk-sidebar-large-width;
    padding: 20px 0 20px 0;
    bottom:0;
    > img {
        width:45%; margin:10% 13%;
    }
}

.o_view_nocontent .o_nocontent_help .o_view_nocontent_smiling_face:before {
    background: transparent url(/muk_web_theme/static/src/img/netlife_smiling_face.svg) no-repeat center;
}

.mk_sidebar_type_small .menu_secondary{
    display: none;
}
.mk_sidebar_type_small .d-sm-inline{
    display: none !important;
}
.mk_sidebar_type_small .has-menu-children{
    display: none !important;
}
.o_mail_discuss {
    .o_mail_discuss_sidebar{
          background-color: #21364E;
    }
}
// .o_field_widget.o_field_image.oe_avatar img{
//     @media (min-width: 899px) {
//        margin-top: 0px !important;
//     }
//     @media (max-width: 1200px) {
//        margin-top: 50px !important;
//     }
// }
