
$o-brand-odoo: #525372;
$o-brand-primary: #5a77c7;
$o-brand-primary-hover: #525372;
$o-menu-hover: #334a75;

$mk-required-color: #d1dfe6;

$mk-apps-color: #f8f9fa;

$mk-appbar-color: #dee2e6;
$mk-appbar-background: #21364E;

// $mk-brand-gradient-start: lighten($o-brand-odoo, 10%);
// $mk-brand-gradient-end: lighten($o-brand-odoo, 20%);
$mk-brand-gradient-start: #21364E;
$mk-brand-gradient-end: #21364E;


$o-community-color: #5a77c7;
