
@include media-breakpoint-down(sm) {
    .o_control_panel {
        margin-top: 10px;
    	padding-left: $o-horizontal-padding /2;
    	padding-right: $o-horizontal-padding /2;
        .breadcrumb, .o_cp_left, .o_cp_right, .o_cp_searchview {
            flex: 1 1 100%;
            @include media-breakpoint-up(md) {
                flex-basis: 50%;
            }
        }
        .breadcrumb {
            max-width: 80%;
            overflow: hidden;
		    display: block;
		    white-space: nowrap;
            text-overflow: ellipsis;
        }
        .o_cp_searchview {
	        overflow: hidden;
		    max-width: 20%;
		    min-width: 20%;
		    text-align: right;
		    .o_searchview {
		    	border: none;
		    	padding: 3.5px 5px;
		    	.o_enable_searchview {
		    		margin-left: 0;
		    		box-shadow: none;
		    		&:before {
		    			padding-right: 5px;
		    		}
		    	}
		    }
        }
        .o_cp_left {
			flex-basis: 50%;
            white-space: nowrap;      
           	.o_cp_buttons, .o_cp_sidebar {
            	flex: 1 1 100%;
           	}
		}
       	.o_cp_right {
            flex-basis: 10%;
        }
        .o_cp_pager {
            white-space: nowrap;
            .o_pager_counter {
            	max-width: 60px;
            	@include o-text-overflow;
            }
            .o_pager_previous, .o_pager_next {
           		border: none;
        	}
        }
       .breadcrumb-item {
            &:not(.active) {
                padding-left: 0;
            }
            &::before {
                content: none;
                padding-right: 0;
            }
            &:nth-last-of-type(1n+3) {
                display: none;
            }
            &:nth-last-of-type(2) {
                &::before {
                    content: "\f053";
                    cursor: pointer;
                    color: $o-brand-primary;
                    font-family: FontAwesome;
                }
                a {
                    display: none;
                }
            }
        }
        .o_cp_buttons .btn.d-block:not(.d-none) {
            display: inline-block !important;
        }
        .o_cp_switch_buttons.show {
            .dropdown-menu {
                display: flex;
                min-width: 0px;
                flex-direction: row;
                align-content: center;
                justify-content: space-around;
                padding: 0;
                .btn {
                    margin: 5px;
                    border: none;
    				font-size: 1.25rem;
                }
            }
        }
    }
}
.o_web_client > .o_main .o_main_content .o_control_panel{
    margin-top: 10px;
    border-radius:5px;
}
.o_control_panel > .breadcrumb > li > a::before{
    font-family: FontAwesome;
    content: "\f060";
    margin-right: 5px;
}
.btn btn-secondary, .o_button_import{
    display: unset !important;
}
