// .breadcrumb {
//     position: absolute;
//     top: 25px;
//     width: 50%;
// }
//
//
// .o_control_panel .breadcrumb1{
//     color: transparent;
//      width: 50%;
// }
// .o_control_panel.o_breadcrumb_full > .breadcrumb1{
//     display: none;
// }
// .o_control_panel.o_breadcrumb_full > .breadcrumb{
//     width: 50%;
// }


