
.o_field_widget {
    &.o_field_many2one .o_external_button {
        color: $o-brand-odoo
    }
}

.o_required_modifier {
    &.o_input, .o_input {
        background-color: $mk-required-color !important;
    }
}

@include media-breakpoint-down(sm) {
    .o_form_view .mk_mobile_add {
		margin-left: 0 !important;
        margin-bottom: 10px !important;
	}
}
.o_kanban_record_body{
    .text-primary-dsk{
        color: #4c4c4c !important;
        padding-bottom: 2px !important;
    }
    .text-danger{
        color: #4c4c4c !important;
        padding-bottom: 2px !important;
        padding-top: 2px !important;
    }
    .text-info{
        color: #4c4c4c !important;
        padding-bottom: 2px !important;
        padding-top: 2px !important;
    }
}
.asset_notice_label{
    margin-top: 5px !important;
}