
$font-path-noto: '../fonts/Noto';
$font-path-roboto: '../fonts/Roboto';

@mixin mk-roboto-font-face($name, $weight, $style) {
    @font-face {
        font-family: 'Roboto';
        src: url('#{$font-path-roboto}/Roboto-#{$name}.eot');
        src: url('#{$font-path-roboto}/Roboto-#{$name}.eot?#iefix') format('embedded-opentype'),
             url('#{$font-path-roboto}/Roboto-#{$name}.woff') format('woff'),
             url('#{$font-path-roboto}/Roboto-#{$name}.ttf') format('truetype'),
             url('#{$font-path-roboto}/Roboto-#{$name}.svg#Roboto') format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

@include mk-roboto-font-face('Thin', 100, normal);
@include mk-roboto-font-face('ThinItalic', 100, italic);
@include mk-roboto-font-face('Light', 300, normal);
@include mk-roboto-font-face('LightItalic', 300, italic);
@include mk-roboto-font-face('Regular', 400, normal);
@include mk-roboto-font-face('Italic', 400, italic);
@include mk-roboto-font-face('Medium', 500, normal);
@include mk-roboto-font-face('MediumItalic', 500, italic);
@include mk-roboto-font-face('Bold', 700, normal);
@include mk-roboto-font-face('BoldItalic', 700, italic);
@include mk-roboto-font-face('Black', 900, normal);
@include mk-roboto-font-face('BlackItalic', 900, italic);
