
//----------------------------------------------------------
// Helper
//----------------------------------------------------------

$mk-brand-gradient: linear-gradient(to right bottom, $mk-brand-gradient-start, $mk-brand-gradient-end);

//----------------------------------------------------------
// Web Client
//----------------------------------------------------------

.o_web_client {
	.o_main .o_main_content {

	    @include media-breakpoint-down(sm) {
	        overflow: auto;
	        .o_content {
	            overflow: initial;
	        }
	    }
	}
	.o_loading {
	    position: fixed;
	    right: 0;
	    bottom: 0;
	    color: white;
	    padding: 5px;
	    opacity: 0.8;
	    z-index: 1052;
	    border-radius: 0;
	    background-color: $o-brand-odoo;
	}
}

.oe_wait {
 	cursor: progress;
}

//----------------------------------------------------------
// Views
//----------------------------------------------------------

.o_content, .modal-content {
    max-width: 100%;
}

//----------------------------------------------------------
// Tooltips
//----------------------------------------------------------

.o_tooltip {
  &.o_animated {
    display: none;
  }
}
@include media-breakpoint-up(xl) {
   .o_main_content {

   }
   .o_form_view .o_form_sheet_bg .oe_button_box + .oe_avatar + .oe_title{
            margin-top: 50px !important;
   }
}

@include media-breakpoint-up(lg) {
   .o_main_content {

   }
   .o_form_view .o_form_sheet_bg .oe_button_box + .oe_avatar + .oe_title{
            margin-top: 50px !important;
   }
}
.netlife-default-color {
    background: $o-brand-odoo !important;
}
.o_form_view .oe_button_box {
    width: auto;
}

.oe_title .item-description {
    width: 100% !important;
    font-size: 20px;
}
.o_map_container{
    min-height: 10px !important;
}

.o_control_panel > .breadcrumb > li{
    white-space: inherit !important;
}
.o_form_view .oe_button_box.o_full {
    position: relative;
    display: block;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -17px;
    margin-bottom: 24px;
}
.o_form_view.o_form_editable .o_address_format input.o_address_zip{
    width: 15%;
}
// Changes affecting IMS-494 start
.o_form_view .o_form_label{
    line-height: normal;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td {
    vertical-align: text-bottom;
}
// End

.o_list_view tbody > tr.o_group_header .o_group_name{
    white-space: inherit;
    max-width: 300px;
    width: 300px;
}

// .o_field_widget .o_stat_info .o_readonly_modifier .mr4{
//     margin-bottom: 5.5px !important;
// }

.o_form_view, .o_group, .o_td_label, .o_form_label{
    line-height: 1.5;
}
.o_thread_window .o_thread_window_header .o_thread_window_close{
    margin-top: 3.5px !important;
}
