
.o_list_view.table {
	overflow-x: hidden;
}

.o_list_view.table,
.o_list_view.table thead,
.o_list_view.table tfoot,
.o_list_view.table td,
.o_list_view.table th {

    border: none;
    height:45px;
    vertical-align: middle;
}
.o_list_view .o_list_number{
    text-align: center;
    width: 100px !important;
}
.o_list_view thead > tr > th.o_list_number_th{
    text-align: center !important;
}
.o_list_view.table thead {
	background-color: white;
	th.o_column_sortable:hover {
	    background-color: white;

	}
}
 
.table-striped > tbody > tr {
	background-color: white;
	&:nth-of-type(2n+1) {
		background-color: gray('100');
	}
	&:hover {
    	background-color: #dcfcfc;
    }
    > td{
        height: 40px;
        vertical-align: middle;
        .o_field_image img{
            width: 40px !important;
            height: 35px !important;
        }

    }
}

.o_list_view_grouped.table tbody tr {
	&:nth-of-type(2n+1) {
		background-color: white;
	}
	&.o_group_header {
	    background-image: none;
		background-color: gray('300');
	    box-shadow: inset 0 1px 0 gray('400');
	}
	&:hover {
    	background-color: gray('300');
    }
}

.o_list_view tfoot {
    color: #ffffff;
    cursor: default;
    font-weight: normal;
}

.o_content, .modal-content {
	 > div > .table-responsive {
	    margin-top: 10px;
	    overflow-x: initial;
	    > .o_list_view {
	        thead, thead tr:nth-child(1) th {
	        	border-bottom: solid 1px gray('300');
	    		background-color: white;
	            position: sticky !important;
	            z-index: 1;
	            top: -15px;
	        }
	        tfoot, tfoot tr:nth-child(1) td {
    			background-color: #fff;
	            position: sticky !important;
	            bottom: 0;
	            display: none;
	        }
	    }
	}
}
.o_list_view tbody > tr.o_group_header .o_group_name {
    white-space: inherit;
}
.o_list_view .o_list_number{
    position: relative !important;
}
// .o_list_view .o_column_sortable {
//     max-width: 50px !important;
// }