/**********************************************************************************
*
*    Copyright (c) 2017-2019 MuK IT GmbH.
*
*    This file is part of MuK Backend Theme 
*    (see https://mukit.at).
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Lesser General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Lesser General Public License for more details.
*
*    You should have received a copy of the GNU Lesser General Public License
*    along with this program. If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/
$o-navbar-height-netlife: 75px;
@mixin mk-full-screen-sections {
    width: 100vw;
    z-index: 1002;
    display: flex;
    flex-direction: column;
//     height: calc(100vh - #{$o-navbar-height-netlife});
    height: 100vh;
    max-height: 100vh;
//     max-height: calc(100vh - #{$o-navbar-height-netlife});
    top: 0 !important;
    overflow: hidden;
    margin-top: $o-navbar-height-netlife;
    transform: none !important;
    position: fixed !important;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: none;
    border: none;
}

@mixin mk-container-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      width: $container-max-width;
    }
  }
}