/**********************************************************************************
*
*    Copyright (c) 2017-2019 MuK IT GmbH.
*
*    This file is part of MuK Backend Theme 
*    (see https://mukit.at).
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Lesser General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Lesser General Public License for more details.
*
*    You should have received a copy of the GNU Lesser General Public License
*    along with this program. If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

@include media-breakpoint-down(sm) {
	.o_base_settings .o_statusbar_buttons {
		.btn {
			width: auto !important;
		   	border: solid 1px transparent; 
			margin: 4px 3px 4px 0 !important;
		   	padding: $btn-padding-y-sm $btn-padding-x-sm !important;
		}
		.btn-primary {
			border-color: $o-brand-primary;
			border-radius: 5px;
		}

		.btn-secondary {
			border-color: $border-color;
		}
	}	
}
.btn-primary:hover{
    background-color: $o-brand-primary-hover !important;

}
.btn-primary {
	border-radius: 5px;
}
.btn-secondary {
	border-radius: 5px;
}