
//----------------------------------------------------------
// Fonts
//----------------------------------------------------------

$font-family-sans-serif: 'Roboto', 'Noto';

//----------------------------------------------------------
// Components
//----------------------------------------------------------

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

//----------------------------------------------------------
// Links
//----------------------------------------------------------

$link-color: darken($o-brand-primary, 8%);

//----------------------------------------------------------
// AppBarMenu
//----------------------------------------------------------

$mk-sidebar-large-width: 240px;
$mk-sidebar-small-width: 66px;

//----------------------------------------------------------
// Sided Chatter
//----------------------------------------------------------

$mk-form-min-width: 835px;
$mk-chatter-min-width: 550px;
$mk-chatter-max-width: 600px;

//----------------------------------------------------------
// List View
//----------------------------------------------------------

$o-list-footer-bg-color: #ffffff;
