/*
	MAIN STYLE
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,vietnamese);

body, html {
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 14px;
	margin: 0;
    padding: 0;
    height: 100%;
}

.body_login {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.body_login:before {
	content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.o_database_list {
	display: inline-block;
    vertical-align: middle;
    padding: 20px;
    border: 1px solid #DDD;
    border-radius: 5px;
    float: none;
    background-color: #FFF;
    opacity: 0.9;
    width: 30%;
    min-width: 300px;
}

#background-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(0px);
	z-index: -1;
}

o_database_list input,
.o_database_list select {
	background-color: transparent !important;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #CCC;
	border-radius: 0px;
	color: red !important;
	font-size: 18px;
	font-weight: 300;
	transition: border-color 0.1s ease;
	box-shadow: none!important;
	text-align: left;
}


.o_database_list select option {
	background-color: #95A5A6;
}

.o_database_list input:focus,
.o_database_list select:focus {
	border-bottom: 1px solid #000000;
	outline: 0 none;
}

a.btn-select {
    background-color: #BBB;
    border-radius: 5px !important;
    color: #EEE;
}

.o_database_list .btn-primary{
    background-color: #0088ce;
    background-image: linear-gradient(to bottom,#39a5dc 0,#0088ce 100%);
    background-repeat: repeat-x;
    border-color: #00659c;
    color: #fff;
}

.o_database_list .btn-primary:hover,
a.btn-select:hover {
	background-color: #f05a24;
	color: #FFF;
}

.form-control {
	display: block;
    width: 100%;
    height: 36px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.66666667;
    color: #363636;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bbb;
    border-radius: 1px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .1s,box-shadow ease-in-out .1s;
}

.o_database_list .company_logo {
	margin-bottom: 50px;
	max-width: 100%;
    height: auto;
}

.oe_login_buttons {
	margin-top: 30px;
	margin-bottom: 10px;
}

.o_database_list h1{
    font-size: 24px;
}
.o_database_list .netlife_logo {
    margin-top: -250px;
    width: 300px;
}

.cad-body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    padding: 0;
}
.oe_login_form .form-control {
    height: 36px;
}

.oe_login_form, .oe_signup_form, .oe_reset_password_form {
    max-width: 500px;
    margin: auto;

}
.alert-danger{
       white-space: pre-line;
}